.container {
  padding: 32px 32px;
  max-width: 1130px;
  margin: 0 auto;
}

.apiBlock {
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.apiBlock p {
  overflow-wrap: break-word;
}

.redAlert {
  background-color: red;
  border-radius: 50px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.greenAlert {
  background-color: green;
  border-radius: 50px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.containerResponseMessage {
  align-items: center;
  display: flex;
}